.PasswordForm{
    margin-top: 20px;
}

.PasswordForm button{
    background-color: #60328e;
    color:white;
    padding: 5px;
    border: 2px solid black ;
}

.PasswordForm .mostrar{
    margin-left: 10px;
    padding:4px;
    font-size: 14px;
}