.UsuarioPassword{
    font-family: 'Montserrat';
}

.passUsuario {
    display: flex;
    align-items: center;
}

.passUsuario h4{
    font-size: 16px;
}

.passUsuario p{
    padding-left: 10px;
    font-size: 14px;
    color: black;
}


.Pass button{
    background-color: #60328e;
    color:white;
    padding: 5px;
    border: 2px solid black ;
    margin: 20px 0;
}

